{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>


  <script type="text/javascript">
          var count = 0;
        function createCallback( i ){
          return function(){
            if ($("#btn"+i).children("img").attr("src") == "{% static 'img/love.png' %}") {
                $("#btn"+i).children("img").prop("src", "{% static 'img/love_disabled.png' %}");
                $("#btn"+i).prop("class", "btn btn-light");
                $("#btn"+i).css("backgroundColor", "#F65066");
                $("#favorite").html("<p>Favorite : " + ++count + "</p>");
            } else {
                $("#btn"+i).children("img").prop("src", "{% static 'img/love.png' %}");
                $("#btn"+i).prop("class", "btn btn-light");
                $("#btn"+i).css("backgroundColor", "");
                $("#favorite").html("<p>Favorite : " + --count + "</p>");
            }
          }
        }

        $(document).ready(function(){
            $(window).load(function() {
                $.ajax({url: "/get_json/", success: function(result){
                    $("#books-table").append("</thead>");
                    $("#books-table").append("<tbody>");
                    for (let i = 0; i < result.items.length; i++) {
                        var subtitle = "-";

                        var button = "<button id=\"btn" + i + "\" class=\"btn btn-light favorite\"><img src=\"{% static 'img/love.png' %}\" style=\" width=\"30\" height=\"30\"></button>";

                        if (result.items[i].volumeInfo.subtitle != null) subtitle = result.items[i].volumeInfo.subtitle;

                        $("#books-table").append("<tr class="+ "\"" + "success" + "\"" +">"
                        + "<td>" + (i+1) + ".</td>"
                        + "<td>" + "<img src=\"" + result.items[i].volumeInfo.imageLinks.thumbnail + "\" />" + "</td>"
                        + "<td>" + result.items[i].volumeInfo.title + "</td>"
                        + "<td>" + result.items[i].volumeInfo.authors + "</td>"
                        + "<td>" + subtitle + "</td>" 
                        + "<td>" + button + "</td>" + "</tr>");
                        $('#btn' + i).click( createCallback( i ) );
                    }
                    $("#books-table").append("</tbody>");
                }});
            });
        });
    </script>

    <title>Library</title>
  </head>
  <body>
    <div class="container-fluid">
        <div id="total">
          <p id="favorite">Favorite : 0</p>
        </div>
        <table id="books-table" class="table">
          <thead>
            <th>No.</th>
            <th>Preview</th>
            <th>Title</th>
            <th>Author</th>
            <th>Subtitle</th>
            <th>Add to Favorite</th>
          </thead>
        </table>
    </div>
  </body>
</html>